<section>
    <div class="login-box">
        <h3>
            <span style="color:white">Logged in as:</span>
            <span style="color:#3A6BEB">Full Name</span>
        </h3>

    </div>
</section>

<div class="card">
    <div class="vehicle">
        <p>MAKE - MODEL</p>
    </div>
    <div class="container">
        <p>Year</p>
        <p>Mileage</p>
        <p>Vin#</p>
        <p>Log Count</p>
    </div>
</div>

<div class="card">
    <div class="vehicle">
        <p>MAKE - MODEL</p>
    </div>
    <div class="container">
        <p>Year</p>
        <p>Mileage</p>
        <p>Vin#</p>
        <p>Log Count</p>
    </div>
</div>

<div class="card">
    <div class="vehicle">
        <p>MAKE - MODEL</p>
    </div>
    <div class="container">
        <p>Year</p>
        <p>Mileage</p>
        <p>Vin#</p>
        <p>Log Count</p>
    </div>
</div>

<form>
    <input type="submit" value="Add New Vehicle">
</form>