<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{project.id}}">{{project.make}}</a>
    </h2
    <p>Owned by: {{project.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.model}}
    </p>
  </div>
</div>
{{/each}}
