<section>
    <div class="login-box">
        <h3>Log in with AUTOLOG</h3>
        <form>
            <input type="text" placeholder="Enter Email Address" />
            <input type="text" placeholder="Enter Password" />
            <input type="submit" value="Log In">
        </form>
        <h4>
            <span style="color:#3A6BEB">Forgot Password?</span>
        </h4>
    </div>

</section>

<h4>
    <span style="color:white">Don't have an account?</span>
    <span style="color:#3A6BEB">Create one</span>
</h4>