<section>
    <div class="login-box">
        <h3>Create Your Account</h3>
          <form>
            <input type="text" placeholder="Enter Name" />
            <input type="text" placeholder="Enter Email Address" />
            <input type="text" placeholder="Enter Password" />
            <input type="submit" value="Create Account">
          </form>
        <h4>
            <span style="color:white">Already have an account?</span>
            <span style="color:#3A6BEB"><a href='/login'>Log In</a></span>
        </h4>
    </div>
</section>