<section>
    <div class="login-box">
        <h3>Create Your Account</h3>
          <form class="signup-form">
            <input type="text" placeholder="Enter Name" id ="name-signup" />
            <input type="text" placeholder="Enter Email Address" id="email-signup"/>
            <input type="text" placeholder="Enter Password" id="password-signup"/>
            <button type="submit" value="Create Account">SUBMIT</button>
          </form>
        <h4>
            <span style="color:white">Already have an account?</span>
            <span style="color:#3A6BEB"><a href='/login'>Log In</a></span>
        </h4>
    </div>
</section>
<script src="/js/login.js"></script>