<section>
    <div class="login-box">
        <h3>
            <span style="color:white">Logged in as:</span>
            <span style="color:#3A6BEB">Full Name</span>
        </h3>

    </div>
</section>

<section>
    <div class="login-box">
        <h3>Enter Vehicle Details</h3>

        <label for="make">Make:</label>
        <select>
            <option value="make">Toyota</option>
        </select>

        <label for="model">Model:</label>
        <select>
            <option value="model">Camry</option>
        </select>

        <label for="year">Year:</label>
        <select>
            <option value="year">2020</option>
        </select>

        <label for="color">Color:</label>
        <select>
            <option value="color">Black</option>
        </select>

        <label for="mileage">Mileage:</label>
        <form>
            <input type="text" placeholder="Enter Mileage" />
        </form>

        <label for="vin">VIN#:</label>
        <form>
            <input type="text" placeholder="Enter VIN#" />
        </form>

        <form>
            <input type="submit" value="Add Vehicle">
        </form>



    </div>
</section>