<section>
    <div class="login-box">
        <h3>
            <span style="color:white">Logged in as:</span>
            <span style="color:#3A6BEB">Full Name</span>
        </h3>

    </div>
</section>

<section>
    <div class="login-box">
        <h3>Enter Vehicle Details</h3>

        <label for="make">Make:</label>
        <form>
            <input type="text" placeholder="Enter Make" />
        </form>

        <label for="model">Model:</label>
        <form>
            <input type="text" placeholder="Enter Model" />
        </form>

        <label for="year">Year:</label>
        <form>
            <input type="text" placeholder="Enter Year" />
        </form>

        <label for="color">Color:</label>
        <form>
            <input type="text" placeholder="Enter Color" />
        </form>

        <label for="mileage">Mileage:</label>
        <form>
            <input type="text" placeholder="Enter Mileage" />
        </form>

        <label for="vin">VIN#:</label>
        <form>
            <input type="text" placeholder="Enter VIN#" />
        </form>

        <form>
            <input type="submit" value="Add Vehicle">
        </form>


    </div>
</section>