<section>
    <div class="login-box">
        <h3>
            <span style="color:white">Logged in as:</span>
            <span style="color:#3A6BEB">Full Name</span>
        </h3>

    </div>
</section>