body {
  background-color: #404040;
  color: #D9D9D9;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 5px solid #D9D9D9;
  background-color: #1E1E1E;
  font-size:x-large;
}

.logo {
  text-align: center;
  scale: 70px;
}

.header img {
  width: auto;
  height: 100px;
}

.logoutbutton{
  position:fixed;
  right: 10px;
  top: 23px;
}

.homebutton{
  position:fixed;
  left: 10px;
  top: 23px;
}

h1 {
  text-align: center;
  line-height: 100px;
  font-weight: bolder;
  color: #DC0F0F;
}

section {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background-color: #1E1E1E;
  text-align: center;
}

h4 {
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 15px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 2px solid #D9D9D9;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 15px 15px;
  margin: 10px 0;
  background-color: #DC0F0F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:medium;
}

input[type=submit]:hover {
  background-color: #3A6BEB;
}


.card {
  width: 30%;
  margin: 20px;
  padding: 0px;
  display: block;
  flex-direction: column;
  background-color: #1E1E1E;
}

.vehicle {
  height: 30%;
  background: #D9D9D9;
  color: black;
  text-align: center;
}

.container {
  padding: 2px 16px;
}
