body {
  font-family: Arial, Helvetica, sans-serif;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  margin: 7px;
  padding: 15px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  font-size: 100%;
}

.no-button:hover {

  background-color: white;
  color: #f44336;
}

.yes-button {
  margin: 7px;
  padding: 15px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  font-size: 100%;
}

.yes-button:hover {
  text-decoration: none;
  background-color: white;
  color: #f44336;
}